fastapi
uvicorn[standard]
sqlalchemy
pydantic<2.0
email-validator
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
# Pour une base de données PostgreSQL, décommentez la ligne suivante :
psycopg2-binary
# Pour une base de données SQLite asynchrone (si vous adaptez database.py pour l'asynchrone) :
# aiosqlite
# Pour l'intégration OpenAI (comme ébauché dans ia_service.py)
openai
supabase
scikit-learn # Ajouté pour la similarité cosinus et autres utilitaires ML
sentence-transformers # Ajouté pour une alternative d'embeddings si OpenAI n'est pas souhaité ou pour des tests

# Dépendances pour les tests
pytest
pytest-cov
pytest-asyncio # Pour les tests de code asyncio avec PyTest
httpx # Nécessaire pour TestClient de FastAPI


alembic
slowapi
python-multipart
requests

